Package: com.abody.pubgloader
Name: PUBG KeyLoader
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: PUBG Mod Loader by Abody
Maintainer: Abody
Author: Abody
Section: Tweaks
