Package: com.abody.keyloader
Name: KeyLoader
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: An awesome key loader tweak!
Maintainer: Abody
Author: Abody
Section: Tweaks
