name: Build Tweak

on: [push]

jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Theos
        run: |
          bash -c "$(curl -fsSL https://raw.githubusercontent.com/theos/theos/master/bin/install-theos)"
          echo "THEOS=~/theos" >> $GITHUB_ENV

      - name: Install SDKs
        run: |
          rm -rf ~/theos/sdks
          git clone --quiet --depth=1 https://github.com/theos/sdks.git ~/theos/sdks

      - name: Build .deb
        run: |
          export THEOS=~/theos
          make package FINALPACKAGE=1

      - name: Upload Deb
        uses: actions/upload-artifact@v4
        with:
          name: KeyLoader-Deb
          path: packages/*.deb
